fastapi
uvicorn
sqlalchemy
sqlmodel
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
email-validator
tzdata
requests

onnxruntime>=1.17.0
Pillow>=10.0.0
numpy>=1.24.0
redis>=5.0.0